@import url('https://fonts.googleapis.com/css?family=Bellefair');
html {
  background-color: black;
  opacity: 1;
}

body {
  /*Opacity of content within body*/
  opacity: 1;
  /*Opacity of background itself */
  background: rgba(0, 0, 0, 0);
  /* Dark color for text */
  color:white;
}

#player {
  font-family: 'Bellefair', serif;
  font-style: normal;
}

#title {
  font-family: 'Bellefair', serif;
  font-weight: 500;
  transform: scale(1.4, 1.6) translateY(-.1em);
  color: red;
  text-shadow: red 0px 0px 30px, red 0px 0px 20px, red 0px 0px 10px;
}

#subtitle {
  font-size: 1.6em;
}

#subtitle,
#volumeLabel,
.dropbtn,
.dropdown-content button {
  font-family: 'Bellefair', serif;
  font-style: italic;
}


/* Link colors ************************/

a:link {
  color: lightgrey;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: grey;
}

a:active {
  color: lightgrey;
}

#oldToggle {
  color: lightgrey;
}

#oldToggle:hover {
  color: grey;
}

/* Title animation ************************/

/* Controls animation length */
#title span {
  animation-duration: 16.28s;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.8;
}

/* Set the correct animations */
#title span:nth-of-type(1) {
  animation-name: first;
}

#title span:nth-of-type(2) {
  animation-name: second;
}

#title span:nth-of-type(3) {
  animation-name: third;
}

#title span:nth-of-type(4) {
  animation-name: fourth;
}

#title span:nth-of-type(5) {
  animation-name: fifth;
}

#title span:nth-of-type(6) {
  animation-name: sixth;
}

#title span:nth-of-type(7) {
  animation-name: seventh;
}

@keyframes first {
  0% {
    opacity: 0;
  }
  4.3% {
    opacity: 0;
  }
  5.16% {
    opacity: 1;
  }
  6.88% {
    opacity: 1;
  }
  8.6% {
    opacity: 0.8;
  }
  80.84% {
    opacity: 0.8;
  }
  81.9% {
    opacity: 0.8
  }
  82% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 0.8;
  }
  92.9% {
    opacity: 0.8
  }
  93% {
    opacity: 0;
  }
  94.9% {
    opacity: 0;
  }
  95% {
    opacity: 0.8;
  }
  99.9% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes second {
  0% {
    opacity: 0;
  }
  16.34% {
    opacity: 0;
  }
  17.2% {
    opacity: 1;
  }
  18.92% {
    opacity: 1;
  }
  20.64% {
    opacity: 0.8;
  }
  80.84% {
    opacity: 0.8;
  }
  81.9% {
    opacity: 0.8
  }
  82% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 0.8;
  }
  92.9% {
    opacity: 0.8
  }
  93% {
    opacity: 0;
  }
  94.9% {
    opacity: 0;
  }
  95% {
    opacity: 0.8;
  }
  99.9% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes third {
  0% {
    opacity: 0;
  }
  28.38% {
    opacity: 0;
  }
  29.24% {
    opacity: 1;
  }
  30.96% {
    opacity: 1;
  }
  32.68% {
    opacity: 0.8;
  }
  80.84% {
    opacity: 0.8;
  }
  81.9% {
    opacity: 0.8
  }
  82% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 0.8;
  }
  92.9% {
    opacity: 0.8
  }
  93% {
    opacity: 0;
  }
  94.9% {
    opacity: 0;
  }
  95% {
    opacity: 0.8;
  }
  99.9% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fourth {
  0% {
    opacity: 0;
  }
  40.42% {
    opacity: 0;
  }
  41.28% {
    opacity: 1;
  }
  43% {
    opacity: 1;
  }
  44.72% {
    opacity: 0.8;
  }
  80.84% {
    opacity: 0.8;
  }
  81.9% {
    opacity: 0.8
  }
  82% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 0.8;
  }
  92.9% {
    opacity: 0.8
  }
  93% {
    opacity: 0;
  }
  94.9% {
    opacity: 0;
  }
  95% {
    opacity: 0.8;
  }
  99.9% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fifth {
  0% {
    opacity: 0;
  }
  52.46% {
    opacity: 0;
  }
  53.32% {
    opacity: 1;
  }
  55.04% {
    opacity: 1;
  }
  56.76% {
    opacity: 0.8;
  }
  80.84% {
    opacity: 0.8;
  }
  81.9% {
    opacity: 0.8
  }
  82% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 0.8;
  }
  92.9% {
    opacity: 0.8
  }
  93% {
    opacity: 0;
  }
  94.9% {
    opacity: 0;
  }
  95% {
    opacity: 0.8;
  }
  99.9% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sixth {
  0% {
    opacity: 0;
  }
  64.5% {
    opacity: 0;
  }
  65.36% {
    opacity: 1;
  }
  67.08% {
    opacity: 1;
  }
  68.8% {
    opacity: 0.8;
  }
  80.84% {
    opacity: 0.8;
  }
  81.9% {
    opacity: 0.8
  }
  82% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 0.8;
  }
  92.9% {
    opacity: 0.8
  }
  93% {
    opacity: 0;
  }
  94.9% {
    opacity: 0;
  }
  95% {
    opacity: 0.8;
  }
  99.9% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes seventh {
  0% {
    opacity: 0;
  }
  76.54% {
    opacity: 0;
  }
  77.4% {
    opacity: 1;
  }
  79.12% {
    opacity: 1;
  }
  80.84% {
    opacity: 0.8;
  }
  81.9% {
    opacity: 0.8
  }
  82% {
    opacity: 0;
  }
  87.4% {
    opacity: 0;
  }
  87.5% {
    opacity: 0.8;
  }
  92.9% {
    opacity: 0.8
  }
  93% {
    opacity: 0;
  }
  94.9% {
    opacity: 0;
  }
  95% {
    opacity: 0.8;
  }
  99.9% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
