@import url('https://fonts.googleapis.com/css?family=Bellefair');
html {
  background-color: black;
  opacity: 1;
}

body {
  /*Opacity of content within body*/
  opacity: 1;
  /*Opacity of background itself */
  background: rgba(0, 0, 0, 0);
  /* Dark color for text */
  color:white;
}

#player {
  font-family: 'Bellefair', serif;
  font-style: normal;
}

#title {
  font-family: 'Bellefair', serif;
  font-weight: 500;
  transform: scale(1.4, 1.6) translateY(-.1em);
}

#subtitle {
  font-size: 1.6em;
}

#subtitle,
#volumeLabel,
.dropbtn,
.dropdown-content button {
  font-family: 'Bellefair', serif;
  font-style: italic;
}


/* Link colors ************************/

a:link {
  color: lightgrey;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: grey;
}

a:active {
  color: lightgrey;
}

#oldToggle {
  color: lightgrey;
}

#oldToggle:hover {
  color: grey;
}

/* Title animation ************************/

/* Controls animation length */
#title span {
  animation-duration: 14s;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0.8;
}

/* Set the correct animations */
#title span:nth-of-type(1) {
  animation-name: first;
}

#title span:nth-of-type(2) {
  animation-name: second;
}

#title span:nth-of-type(3) {
  animation-name: third;
}

#title span:nth-of-type(4) {
  animation-name: fourth;
}

#title span:nth-of-type(5) {
  animation-name: fifth;
}

#title span:nth-of-type(6) {
  animation-name: sixth;
}

#title span:nth-of-type(7) {
  animation-name: seventh;
}

@keyframes first {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  14% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes second {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes third {
  0% {
    opacity: 0;
  }
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fourth {
  0% {
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
  56% {
    opacity: 1;
  }
  58% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fifth {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes sixth {
  0% {
    opacity: 0;
  }
  81% {
    opacity: 0;
  }
  82% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  86% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes seventh {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
