@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

html {
  background-color: #ffa5ff;
}

body {
  /*Opacity of background itself */
  background-color: rgba(0, 0, 0, 0.05);
}

#title {
  font-family: 'Nanum Myeongjo', sans-serif;
  font-weight: 600;
  transform: scale(1.5, 1.7) translateY(-.2em);
}
